<div class="kt-portlet">
	<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title"><span>All Posts</span></h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <button  routerLink="/demo1/posts/addpost" mat-raised-button color="yellow">Add Post</button>
    </div>
  </div>

  <div class="kt-portlet__body pt-0">
 
    <mat-form-field class="mat-form-field-infix">
     <input matInput  placeholder="Search" (keyup)="applyFilter($event.target.value)">
   </mat-form-field>
   <div class="table-responsive"> 
    <div class="mat-table__wrapper "> 
     <mat-table #table [dataSource]="dataSource" matSort>
	  <ng-container matColumnDef="imageurl" >
      <mat-header-cell *matHeaderCellDef  width10> Post Image </mat-header-cell>
      <mat-cell *matCellDef="let element"  width10>   <img  class="table-user rounded-circle img-thumbnail" width="60px" height="60px" src="{{IMAGES_URL + element.image}}" *ngIf="errors.indexOf(element.image) == -1"/>
      <img  class="table-user rounded-circle img-thumbnail" width="60px" height="60px" src="assets/img/default.png" *ngIf="errors.indexOf(element.image) >= 0"/>  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description</mat-header-cell>
      <mat-cell *matCellDef="let element" > <p class="description-fnt">{{element.description}}</p> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef  > Category</mat-header-cell>
      <mat-cell *matCellDef="let element"   > <span class="badge-post">{{element.category}}</span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="posts">
      <mat-header-cell *matHeaderCellDef address> Posts </mat-header-cell>
      <mat-cell *matCellDef="let element" address ><span class="badge-post">{{element.posts}}</span></mat-cell>
    </ng-container>  
    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef width10 > No. Of Comments </mat-header-cell>
      <mat-cell *matCellDef="let element" width10 ><a routerLink="/demo1/posts/comments/{{element._id}}" href="javascript:void(0)" class="badge badge-primary">{{element.comments}}</a></mat-cell>
    </ng-container>  
    <ng-container matColumnDef="like">
      <mat-header-cell *matHeaderCellDef width10> Likes </mat-header-cell>
      <mat-cell *matCellDef="let element" width10 ><span class="badge badge-secondary">{{element.likes}}</span></mat-cell>
    </ng-container>    
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef  action-box width20> Action </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index;"  action-box width20> 
        <button   routerLink="/demo1/posts/editpost/{{element._id}}"  mat_primary_color mat-icon-button color="pink" matTooltip="Edit Post">
          <i class="fa fa-pencil-alt"></i>
        </button>&nbsp;
	
        <button (click)="openVerticallyCentered(content, element._id, i + (paginator.pageIndex * paginator.pageSize))" mat-icon-button color="danger" matTooltip="Delete" type="button" >
         <mat-icon>delete</mat-icon> </button>
     </mat-cell>
   </ng-container>
   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>
</div>
</div>
<mat-paginator #paginator
[pageSize]="10"
[pageSizeOptions]="[5, 10, 20]"
[showFirstLastButtons]="true">
</mat-paginator>
</div>
</div>
<div class="kt-section">
  <div class="kt-section__content">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-body">
        <button type="button" class="close close-modal" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        <div  class="modal-inner text-center">
          <i class="flaticon2-close-cross fa-4x close-icon"></i>
          <h4>Are You Sure ?</h4>
          <p class="mb-0"> Are you sure to delete this post?</p>
        </div>
      </div>
      <div class="modal-footer no-border pt-0 justify-content-center pb-4">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirm_delete()">Delete</button>
      </div>
    </ng-template>
  </div>
</div>